
.content-wrapper {
    display: flex;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}
  


  
.history-information {

    /* margin-left: 3.5rem; */
    padding: 24px;
    border: 1px solid #2222227b;
    box-shadow: 0px 5px 12px -12px rgba(0,0,0,0.5);
    width: 100%;
    background-color: white;
}

.history-information h3 {
    font-size: 36px;

}

.history-information h6 {
    font-size: 16px;

}

.history-information__container {
    border-top: 1px solid #2222227b;
    margin-top: 20px;
}

.wrapper p {
    margin: 0 0 0 0;
    margin-bottom: 5px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
}

.information {
    margin-bottom: 15px;
}

.wrapper {
    position: relative;
    width: 100%;
}

.w16 {
    width: 100%;
}


.label {
    font-size: 12px;
    margin: 0;
    letter-spacing: 3px;
}
  
.field {
    font-size: 12px;
    margin: 0;
    color: #1c1c1c;
}
  
.user-data {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

td {
    font-size: 12px;
}

.image {
    width: 100px;
}

.wrapper {
    border-bottom: 1px solid  #2222227b;;
}


.circle {
    position:absolute;
    /* background: radial-gradient(circle  650px at 2.9% 50.2%, rgba(17, 0, 255, 0.543) 0%, rgb(17, 0, 255, 0.543) 15.9%, rgb(17, 0, 255, 0.543) 15.9%, rgb(17, 0, 255, 0.543) 24.4%, rgb(255, 255, 255) 24.5%, rgb(255, 255, 255) 66%); */
    width: 100%;
    height: 100%;
    }



@media screen and (min-width: 768px) and (max-width: 1024px) {

    #header {
        width: 100%;
    }


}

@media screen and (min-width: 1024px) and (max-width:  1099px){
    #header{
        width:100%;
        }
}


@media screen and (min-width:645px) and (max-width: 768px) {
    #header {
        width: 100%;
    }

    .history-information{
        margin-left: 0rem;
    }


}







 @media screen and (max-width:  320px){
    #header{
        width: 100%;
    }

    
    footer{
        justify-content:center;
    }

    .social-links img{
        width: 20px;
        height: 20px;
    }

 }



@media screen and (min-width: 768px) and (max-width: 1024px) {

    #header {
        width: 100%;
    }


}

@media screen and (min-width: 1024px) and (max-width:  1099px){
    #header{
        width:100%;
        }
}


@media screen and (min-width:645px) and (max-width: 768px) {
    #header {
        width: 100%;
    }


}


@media screen and (max-width:  425px) {
    #header {
        width: 100%;
        padding: 0px 0px;
        flex-direction: column;

        }

        .logo {
            width: 50px;
        }

}







@media screen and (max-width: 320px) {
    #header {
        width: 100%;
    }
    
    
    #footer {
        width: 100%;
    }
}




@media screen and (min-width:375px) and (max-width: 425px) {
    #header {
        width: 100%;
        padding:0px 0px;
        justify-content: space-around;
    }
    #header li {
        padding: 10px;
    }

    footer{
        margin: 0 0 0 0;
        text-align: center;
        display: block;
    }


}



@media screen and (min-width:320px) and (max-width: 375px) {
    #header {
        width: 100%;
        padding:0px 0px;
        justify-content: flex-start;
    }
    #header li {
        padding: 10px;
    }
    footer{
        margin: 0 0 0 0;
        text-align: center;
        display: block;
    }

 

}


 
@media screen and (min-width:425px) and (max-width: 645px) {
    #header {
        width: 100%;
        padding:0px 0px;
        justify-content: space-around;
    }
    #header li {
        padding: 10px;
    }

    .history-information{
        margin-left: 0rem;
    }

    .history-information h3 {
        font-size: 30px;
    }

}

@media screen and (min-width:425px) and (max-width: 659px)
{
    .section-p2{
        padding: 20px 40px;
    }
}

@media screen and (max-width: 659px){

    
    footer{
        width: 100%;
        margin: 0 0 0 0;
    }

    .section-p1{
        padding: 20px 40px;
    }

}

@media screen and (max-width: 500px) {

    .section-p2{
        padding: 10px 10px;
    }

    .history-information h3 {
        font-size: 16px;
    }

    .history-information h6 {
        font-size: 12px;
    }
    .information p{
        font-size:12px;
    }

    .side__menu h3 {
        font-size: 12px;
        width: 80px;
        padding: 10px 10px;
    }   

    footer{
        margin: 0 0 0 0;
        text-align: center;
        display: block;
    }

    .side__menu h3 {
        font-size: 12px;
        width: 80px;
    }

    
    .history-information {
        padding:10px;
        margin-left: 0rem;

    }


}

@media screen and (max-width: 768px) {
    section.content-wrapper.section-p2{
    padding: 0;
}    
.row {
justify-content: center;
}

.wrapper p {
text-align: center;
}
}